<div class="col-md-6" >
	<table class="table table-condensed table-bordered">
		<tr>
			<th>
				Patient Type
				<button class="btn btn-primary" data-ng-click="managePatientType()"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
			</th>
			<th> Select</th>
		</tr>
		<tr>
			<th>
				<select  class="form-control" data-ng-model="patientTypeId" data-ng-options="patientType.id as patientType.typeName for patientType in patientTypeList" data-ng-change="bringFollowUpChart(patientTypeId)">
					<option value="">--Select--</option>
				</select>
			</th>
			<th> &nbsp;</th>
		</tr>
		<tr data-ng-if="patientTypeId">
			<th> Inv Name </th>
			<th> Action</th>
		</tr>
		<tr data-ng-if="patientTypeId">
			<td>
				<input type="text" id="fInvName" data-ng-model="followUpInvName" typeahead="invNameData.name for invNameData in getInvName($viewValue)"  class="form-control" placeholder="Add Inv to Follow up Setings" typeahead-on-select='onSelectInvName($item, $model, $label)'/>
			</td>
			<td>
				<button class="btn btn-primary" data-ng-click="addInvToFollowUp(followUpInvName)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
			</td>
		</tr>
		<tr data-ng-if="patientTypeId" data-ng-repeat="inv in followUpList">
			<td><label>{{inv.invName}}</label></td>
			<td><button class="btn btn-danger" data-ng-click="delete(inv.followUpSerttingID)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
		</tr>
	</table>
</div>