<div class="large big" id="" >
    <div class="modal-header">
        <div class="col-sm-6 col-md-6 col-lg-6">
			<div class="form-group">Previously Taken Drugs
				<button class="btn btn-primary pull-right" data-ng-click="addDrug(0)">
					<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Add
				</button>
			</div>
			<div id="validateReqPrevDrug">
				<table class="table table-condensed table-bordered">
					<thead class="">
					<tr >
						<th><strong>Drug name</strong></th>
						<th ><strong>Action</strong></th>
					</tr>
					</thead>
					<tbody>
					<tr  data-ng-repeat="data in oldDrugList" >
						<td >
							<div class="form-group" data-ng-show="data.editMode">
								<input type="text" data-ng-model="data.drugName"  class="form-control" placeholder="result" />
							</div>
							<span data-ng-show="!data.editMode">{{data.drugName}}</span>
						</td>
						<td >
							<button title="Add to Prescription" class="btn btn-default" data-ng-model="none"   data-ng-show="!data.editMode && !data.otherEditMode" data-ng-click="addDrugToPres(data)">
								<span class="glyphicon"  data-ng-class="{'glyphicon-unchecked': data.addedToPres == false,'glyphicon-check': data.addedToPres != false}"></span>
							</button>
							<button title="Save" data-ng-show="data.editMode" class="btn btn-primary" data-ng-click="saveDrug(data, 0)">
								<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
							</button>
							<button title="Edit" data-ng-show="!data.editMode && !data.otherEditMode" class="btn btn-danger" data-ng-click="delDrug(data , 0)">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div class="form-group">Currently Taking Drugs
				<button class="btn btn-primary pull-right" data-ng-click="addDrug(1)">
					<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Add
				</button>
			</div>
			<div id="validateReq">
				<table class="table table-condensed table-bordered" >
					<thead >
					<tr >
						<th ><strong>Drug name</strong></th>
						<th ><strong>Action</strong></th>
					</tr>
					</thead>
					<tbody>
					<tr data-ng-repeat="data in currentDrugList">
						<td >
							<div class="form-group" data-ng-show="data.editMode">
								<input type="text" data-ng-model="data.drugName"  class="form-control" placeholder="result" />
							</div>
							<span data-ng-show="!data.editMode">{{data.drugName}}</span>
						</td>
						<td id="">
							<button title="Add to Prescription" class="btn btn-default" data-ng-model="none"   data-ng-show="!data.editMode && !data.otherEditMode" data-ng-click="addDrugToPres(data)">
								<span class="glyphicon"  data-ng-class="{'glyphicon-unchecked': data.addedToPres == false,'glyphicon-check': data.addedToPres != false}"></span>
							</button>
							<button title="Save" data-ng-show="data.editMode" class="btn btn-primary" data-ng-click="saveDrug(data, 1)">
								<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
							</button>
							<button title="Edit" data-ng-show="!data.editMode && !data.otherEditMode" class="btn btn-danger" data-ng-click="delDrug(data, 1)">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>

						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>