<div class="modal-header modalHead ">
	<h4 class="modal-title">Patient Information</h4>
</div>
<div class="modal-body modalBody"  style="position:relative; z-index:1;">
	<div class="alert alert-danger alert-dismissable" data-ng-show="error">
        <div>{{errorMessage}}</div>
        <div id="lblMsg_modal"></div>
    </div>


    	<div  class="row" id="validateReq">
   			<div class="form-group col-xs-12 col-sm-12">
   				<label>Patient  Name: <span class="red" >*</span></label>
   				<input type="text" class="form-control required" data-ng-model="patientData.name" errmsg="Please enter patient name" maxlength="40">
			</div>
			
			<div class="form-group col-sm-12 col-md-6 col-lg-6" >
				<label>Age: <span class="red" >*</span></label> 
				<input class="form-control decimal" type="text" maxlength="6" data-ng-model="patientData.age" errmsg="Please enter patient age">
			</div>
			
			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Gender:</label> 
				<select data-ng-model="patientData.sex" class="form-control">
					<option value="MALE">Male</option>
					<option value="FEMALE">Female</option>
					<option value="OTHER">Other</option>
				</select>
			</div>

			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Occupation:</label>
				<select data-ng-model="patientData.occupation" class="form-control">
					<option value="HOUSEEWIFE">Housewife</option>
					<option value="SERVICE">Service</option>
					<option value="BUSINESS">Business</option>
					<option value="STUDENT">Student</option>
					<option value="NA">N/A</option>
				</select>
			</div>

			
			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Phone:</label> 
				<input class="form-control phnnr" type="text" maxlength="16" data-ng-model="patientData.phone">
			</div>
			
			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Address:</label> 
				<input class="form-control" type="text" maxlength="100" data-ng-model="patientData.address">
			</div>

			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Referred By:</label>
				<input class="form-control" type="text" maxlength="100" data-ng-model="patientData.referredBy">
			</div>

			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Hospital name:</label>
				<input class="form-control" type="text" maxlength="100" data-ng-model="patientData.hospitalName">
			</div>

			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Bed:</label>
				<input class="form-control" type="text" maxlength="100" data-ng-model="patientData.bedNum">
			</div>

			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Ward:</label>
				<input class="form-control" type="text" maxlength="100" data-ng-model="patientData.wardNum">
			</div>

			<div class="form-group col-sm-12 col-md-6 col-lg-6">
				<label>Head of unit:</label>
				<input class="form-control" type="text" maxlength="100" data-ng-model="patientData.headOfUnit">
			</div>
    	</div>
	
</div>
<div class="modal-footer modalFoot">
	<button class="btn btnLanier btn-success" data-ng-click="save()" >
		<span class="glyphicons glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
	</button>
	<button class="btn btnLanier btn-danger" data-ng-click="cancel()" >
		<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cancel
	</button>
</div>