/* Body Color and Shades*/
	
	.app-logo { 
		left: 0;
	    min-height: 100%;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    z-index: 0;		
	}
	/* Buttons on the right */
	.rightBtns{top:0;right:0;position:absolute;}
	/* Logout button */
	
	.hLogout { font-size: 1.15em; border-left: 1px solid #555555 !important; }	
	.hLogout:hover, .hLogout:focus { color: #fff; text-decoration: none; }
	.hLogout > i { }

	/* Help */
	
	.help-link, .config-link, .change-prop { padding: 6px 10px; }		
	.help-link i, .config-link i, .change-prop i { font-size: 1.6em;  }	
	.change-prop { background-color: #333; }
	.change-prop i { color: #fcb53e; }
	
	/*## App Footer ##*/
	

	
	/*## Gust Booking ##/////////////////////////////////////*/
	
	.guestbooking { }
	/* .booking-tble { border-radius:5px; } */
	.booking-tble table td { vertical-align: middle !important; }
	.booking-tble table td:not(:nth-child(1)) {  font-size: 0.8em; text-align: center; }
	.booking-tble table td:nth-child(2n+2){ background-color: #ededed;}	
	.booking-tble table td .roomno {
		color: #fff; 
		background: none repeat scroll 0 0 #8b62a9;
	    display: inline-block;
	    border-radius: 5px;
	    font-size: 0.8em;
	    margin-right: 6px;
	    padding: 7px;
    	text-align: center;
    	width: 38px;
	 }
	
	/* .booking-tble table thead tr td { border-bottom:1px solid rgb(163,163,163)!important; background-color: #FFDFA5; } 
	.booking-tble .table-striped > tbody > tr:nth-child(odd) > td { background-color: #FFFCEF }
	.booking-tble table thead tr:first-child td:first-child { border-bottom:1px solid rgb(163,163,163)!important; border-top-left-radius:5px } 
	.booking-tble table thead tr:first-child td:last-child { border-top-right-radius:5px }  */
	
	/*## Helper Classes ##/////////////////////////////////////*/
	
	.m-0 { margin: 0px !important; }
	.m-l-0 { margin-left: 0px !important; }
	.m-t-0 { margin-top: 0px !important; }
	.m-r-0 { margin-right: 0px !important; }
	.m-b-0 { margin-bottom: 0px !important; }
	
	.btn-circle {
	  width: 20px;
	  height: 20px;
	  text-align: center;
	  padding: 2px 0;
	  font-size: 12px;
	  line-height: 1.428571429;
	  border-radius: 15px;
	}

	.common-info {
	    background: url("../images/icon-info-24x.png") no-repeat scroll 0 0 transparent;
	    padding: 0 0 15px 32px;
	    text-align: left;
	    font-family:"Helvetica Neue",Helvetica,Arial, sans-serif;
	    font-size: 12px;
	    color: #555555;
	}
	.common-info-text {
	   padding: 0 0 15px 32px;
	    text-align: left;
	    font-family:"Helvetica Neue",Helvetica,Arial, sans-serif;
	    font-size: 12px;
	    color: #555555;	
	}	
	.common-info-error {
	    background: url("../images/icon-alert-red-16.png") no-repeat scroll 0 0 transparent;
	    color: #FF0000;
	    font-size: 13px;
	    padding: 0 0 15px 24px;
	}
	.common-info-error-text{	   
	    color: #FF0000;
	    font-size: 13px;
	    padding: 0 0 15px 24px;
	}
	.changePassSize{
	 background: none repeat scroll 0 0 #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 550px;
	}
	.forgotPass{
	 	background: url("../images/email-box.gif") no-repeat scroll 0 0 transparent;
	    padding: 0 0 15px 32px;
	    text-align: left;	    
	}
	.user-activation{
     background: none repeat scroll 0 0 #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 650px;
    }
	.modal-z-index{
		z-index: 1060 !important
	}
	.span-align-middle {
		display: table-cell; height: 40px; vertical-align: middle;
	}
	/* UI.Bootrap CSS Override */
	
	.dropdown-menu.ng-valid-date {
	    padding: 5px;
	    width: 278px;
	}	
	.dropdown-menu.ng-valid-date table > thead > tr > th {
		padding-bottom: 5px;
	} 
	
	/* no padding for all login */
	.loginPadding{
		margin-top:-38px!important;
	} 
	
	/* CSS3 Text Ellipsis */
	
	.text-ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	/*  Page Animations */
	
	.page {
		opacity: 1; 
	}
	
	.page.ng-enter, .page.ng-leave {		
		-webkit-transition: all 300ms ease;
	    -moz-transition: all 300ms ease;
	    -ms-transition: all 300ms ease;
	    -o-transition: all 300ms ease;
	    transition: all 300ms ease;    
	}
	
	.page.ng-enter { 
		opacity: 0;
	}
	
	.page.ng-leave { 
		opacity: 1;
	}
	
	.page.ng-enter.ng-enter-active { 
		opacity: 1;
	}
	
	.page.ng-leave.ng-leave-active { 
		opacity: 0;
	}
	.link{
		 cursor: pointer;
	 }
	.verticalLine {
		border-left: thin solid silver;
	}
	.image-upload > input
	{
		display: none;
	}

	.image-upload img
	{
		width: 110px;
		cursor: pointer;
	}
	.nav-tabs {
		padding-left: 15px;
		margin-bottom: 0;
		border: none;
	}
	.tab-content {
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 15px;
	}

	.item-box{
		background-color: #efffb2;
		border: 1px solid whitesmoke;
		width: 100%;
		height: 100px;
		border-radius: 4px;
		padding: 15px;
	}
	#source-button {
		position: absolute;
		right: 0;
		z-index: 100;
		font-weight: 700;
	}
	.well{
		background-color: rgba(221, 243, 10, 0.08) !important;
	}

	.panel-reg{
		background-color: rgba(181, 246, 138, 0.21);
	}
	.mainLabel{
		cursor: pointer;
	}
	.item-head{
		font-size: 15px;
		padding: 10px 10px 5px 10px;
		border-left: 5px solid #3ac0ff;
		background-color: #F6F6F6;
	}
	.selected{
		background-color: #FFFF99;
	}
	.modal-header{
		background-color: rgba(145, 156, 49, 0.45) !important;
	}
	.modal-body{
		background-color: rgba(181, 246, 138, 0.21) !important;
	;
	}
	.modal-footer{
		background-color: rgba(145, 156, 49, 0.45) !important;
	}