<div class='modal-header modalHead'> 
    <h4 class='modal-title'>{{title}}</h4> 
</div>

<div class='modal-body'>
	Please contact us with any questions or comments you may have.
	<br />
	<br>
	<div class="well">
		<label>Marie Lanier</label>
		<div>
			<span><i class="fa fa-envelope text-success"></i> <span>: marie@marielanier.com</span></span>
		</div> 
		<div>
			<span><i class="fa fa-phone text-success"></i> <span> : 754-888-4241</span></span>
		</div>
	</div>
	Thank You
</div>

<div class="modal-footer">
	<button class="btn btn-success btnLanier" ng-click="onOkClicked()">
	    <i class="fa fa-check"></i> Ok
	</button>
</div>