
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<h4>Advice</h4>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<span class="pull-right">
			<a  style="padding-left:12px;" class="btn btn-info" href="#/prescription"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"> Back</span></a>
			<button class="pull-right btn btn-info" data-ng-click="docTorAdviceAdder = !docTorAdviceAdder"><span class="glyphicon glyphicon glyphicon-wrench" aria-hidden="true"></span> Setteing</button>
		</span>
	</div>
</div>
 <br></br>
<div class="panel  col-md-12 filter-panel" style="padding-top: 20px">
		
</div>
<section  data-ng-show="docTorAdviceAdder" class=" contacts row" id="generalInfoContact">
	<div  class="col-xs-12 col-sm-12 col-md-10 col-lg-2">
         <div class="panel">	                 
             <div class="panel-body">
             	<div class="text-muted form-group">Language</div>	                    
                <div class="room-desc">	
                     <select data-ng-model="adviceAdderData.lang" class="form-control">
                     	<option value="0">English</option>
                     	<option value="1" >Bangla</option>
                     </select>
                </div>
             </div>
         </div>
     </div>

     <div  class="col-xs-12 col-lg-4">
         <div class="panel">	                 
             <div class="panel-body">
             	<div class="text-muted form-group">Advice</div>	                    
                <div class="room-desc">	
<!--<head>
    <script type="text/javascript" src="unicode/scripts/bijoy2uni.js"></script>
    <script type="text/javascript" src="unicode/scripts/uni2bijoy.js"></script>
    <script type="text/javascript" src="unicode/scripts/common.js"></script>
    <script type="text/javascript" src="unicode/scripts/layout.js"></script>
    <script type="text/javascript" src="unicode/scripts/js.js"></script>
    <script type="text/javascript" src="unicode/scripts/js1.js"></script>
    <script type="text/javascript" src="unicode/scripts/count.js"></script>
    <script style="color: rgb(34, 34, 34);" type="text/javascript" src="unicode/scripts/loading.js"></script>
	<script async src="../../pagead2.googlesyndication.com/pagead/js/f.txt"></script>
<input readonly type="hidden" name="CharsTyped" size="2" style="font-weight:bold; border: 0px solid #2D69AE; color:#808080; text-align:left;">
<input readonly type="hidden" name="WordsTyped" size="3" style="font-weight:bold; border: 1px solid #2D69AE; color:#808080; text-align:right;">
<input readonly type="hidden" name="CharsLeft" size="8">
<input readonly type="hidden" name="WordsLeft" size="8">
</head>-->
<textarea rows="1" id=EDT onKeyDown="return KeyBoardDown(event);" onBlur="InputLengthCheck();" onKeyUp="InputLengthCheck();" autofocus="autofocus" data-ng-model="adviceAdderData.name" typeahead="adviceNameData.advice for adviceNameData in getAdvcieName($viewValue)"  class="form-control" placeholder="Add advice to Setting" typeahead-on-select='onSelectAdviceName($item, $model, $label)'/></textarea>
                </div>
             </div>
         </div>
     </div>
     
     <div class="form-group col-xs-12 col-sm-4" data-ng-show="adviceAdderData.lang == 1">
     	<div class="panel">	         
        
             <div class="panel-body">
             	<div class="text-muted form-group">				
					<br></div>	                    
                <div class="room-desc">	

                     <textarea rows="1" id="CONVERTEDT" value="" data-ng-model="adviceAdderData.pdf"  class="form-control"  placeholder="PDF View এর জন্য Convert বাটন এ ক্লিক  করুন । " /></textarea>
                </div>												<p align="right"><input class="btn btn-primary" onClick="ConvertToTextArea('CONVERTEDT');" type=button value="Convert" name=ConvertToAsciiButton></p>

             </div>
         </div>
				
	</div>
     <div  class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
         <div class="panel">	                 
             <div class="panel-body">
             	<div class="text-muted form-group">Action</div>	                    
                <div class="room-desc">	

                     <button  data-ng-click="prepareDoctorSettingData()" class="btn btn-primary" > <span class='glyphicon glyphicon glyphicon-plus' aria-hidden='true'></span> Add</button>
                </div>
             </div>
         </div>
     </div>
</section>

<div class="panel  col-md-12 filter-panel" style="padding-top: 20px">
	<div class="list-item col-sm-4 col-md-4 col-lg-4" data-ng-repeat="advice in advcieSettingData" style="padding-bottom: 10px">
		<span><a class="btn btn-danger btn-sm btnLanier"
                  ktr-confirmation="delAdviceFromSetting(item)" 
                  confirmation-message="Are you sure to remove?"
                  confirmation-title="Confirmation"
                  item="advice.adviceSettingID">
                  <span class="glyphicons glyphicon glyphicon-remove" aria-hidden="true"></span>
               </a>
		</span>
		<button class="btn btn-default" data-ng-model="none"   data-ng-click="deciderAdvice(!advice.addedToPrescription,advice)">
			<span class="glyphicon  glyphicon"  data-ng-class="{'glyphicon-check': advice.addedToPrescription == true,'glyphicon-unchecked': advice.addedToPrescription == false}"></span>
		</button>
		<span>{{advice.advice}}</span>
	</div>
</div>