<div class="large big">
	<div class="modal-header">
		<div class="col-sm-9 col-md-9 col-lg-9">
			<h4 class="modal-title">Add Advice To Settings</h4>
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3">
			<button class="btn btnLanier btn-success" data-ng-click="cancel()" ><span class="fa fa-thumbs-o-up " aria-hidden="true"></span> Done</button>
			<button class="btn btn-info pull-right" data-ng-click="docTorAdviceAdder = !docTorAdviceAdder"><span class="glyphicon glyphicon glyphicon-wrench" aria-hidden="true"></span> Setteing</button>
		</div>
	</div>
	<div class="modal-body modalBody">
		<div class="alert alert-danger alert-dismissable" data-ng-show="error">
			<div>{{errorMessage}}</div>
			<div id="lblMsg_modal"></div>
		</div>


		<div  class="row" id="validateReq">
			<section  data-ng-show="docTorAdviceAdder" class=" contacts row" id="generalInfoContact">
				<div  class="col-xs-12 col-sm-12 col-md-10 col-lg-2">
					<div class="panel">
						<div class="panel-body">
							<div class="text-muted form-group">Language</div>
							<div class="room-desc">
								<select data-ng-model="adviceAdderData.lang" class="form-control">
									<option value="0">English</option>
									<option value="1" >Bangla</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div  class="col-xs-12 col-lg-4">
					<div class="panel">
						<div class="panel-body">
							<div class="text-muted form-group">Advice</div>
							<div class="room-desc">
								<input id="EDT" typeahead="adviceNameData.advice for adviceNameData in getAdvcieName($viewValue)"  data-ng-model="adviceAdderData.name" class="form-control" placeholder="Add advice to Setting" typeahead-on-select='onSelectAdviceName($item, $model, $label)'>
							</div>
						</div>
					</div>
				</div>
				<div   class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
					<div class="panel">
						<div class="panel-body">
							<div class="text-muted form-group">Action</div>
							<div class="room-desc">
								<button  data-ng-click="prepareDoctorSettingData(false)" class="btn btnLanier btn-success" data-ng-click="save(true)" ><span class="glyphicons glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>

							</div>
						</div>
					</div>
				</div>
			</section>

			<div data-ng-show="!docTorAdviceAdder" class="col-sm-12 col-md-12 col-lg-12">
				<div class="list-item col-sm-6 col-md-6 col-lg-6" data-ng-repeat="advice in advcieSettingData">
					<span class="glyphicon  glyphicon"  data-ng-click="addToAdviceSetting(!advice.addedToPrescription,advice)" data-ng-class="{'glyphicon-check': advice.addedToPrescription == true,'glyphicon-unchecked': advice.addedToPrescription != true}"></span>
					<span>{{advice.advice}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
