<div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6">
        <!--<h2 class="item-head">
            <a href="javascript:"><label >Clinical Note</label></a>
        </h2>
        <button class="btn btn-default pull-right" data-ng-model="none"   data-ng-click="addCommentToPrescription()">
            <span class="glyphicon  glyphicon"  data-ng-class="{'glyphicon-check': commentData.addedToPrescription == true,'glyphicon-unchecked': !commentData.addedToPrescription  || commentData.addedToPrescription == false}"></span>
        </button>
        <span><textarea rows="8" style="width: 100%" data-ng-model="commentData.detail">{{commentData.detail}}</textarea></span>-->

        <h2 class="item-head">
            Clinical Note
            <span class="glyphicon  glyphicon pull-right"  data-ng-click="addCommentToPrescription()" data-ng-class="{'glyphicon-check': commentData.addedToPrescription == true,'glyphicon-unchecked': !commentData.addedToPrescription  || commentData.addedToPrescription == false}"></span>
        </h2>
        <span><textarea rows="3" style="width: 100%" data-ng-model="commentData.detail">{{commentData.detail}}</textarea></span>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
        <h2 class="item-head">
            FollowUp Result
        </h2>
        <div data-ng-repeat="followUp in followUpDataList">
            <span>{{followUp.detail}}</span>
        </div>

    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
    </div>
</div>

