<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-info">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		
		<h4 >Old Presriptions</h4>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<h4 >{{patientData.name}}-{{prescriptionViewDate | date:'d.M.yy'}}</h4>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<span class="pull-right">
			<a style="padding-left:12px;" class="btn btn-info" href="#/prescription"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"> Back</span></a>
		</span>
	</div>
</div>
 <br>

<div class="row">

	<div class="col-sm-2 col-md-2 col-lg-2">
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>Copy</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="data in oldAppoinmentList">
					<td>
						<button class="btn btn-default" data-ng-model="none"   data-ng-click="masterAddToPrescription(!data.addedToPrescription, data)">
							<span class="glyphicon  glyphicon"  data-ng-class="{'glyphicon-check': data.addedToPrescription == true,'glyphicon-unchecked': data.addedToPrescription != true}"></span>
						</button>
					</td>
					<td><span class="textSpc link" data-ng-class="{'selected' : prescriptionViewDate == data.date}" data-ng-click="viewPrescription(data)">{{data.date | date:'d-M-yyyy'}}</span></td>
				</tr>
			</tbody>
		</table>
	</div>


	<div class='col-sm-10 col-md-10 col-lg-10' data-ng-show="showPrescriptionView">

		<div class="row">
			<div class="verticalLine col-sm-6 col-md-6 col-lg-6">
				<div ng-include="'javascript/templates/oldPrescription/complainAndVital.html'"></div>
				<div ng-include="'javascript/templates/oldPrescription/invSection.html'"></div>
				<div ng-include="'javascript/templates/oldPrescription/history.html'"></div>
			</div>
			<div class="verticalLine col-sm-6 col-md-11 col-lg-6" >
				<div class="form-group">

					<div class="well well-sm" style="border-left: 5px solid #3ac0ff;">
						<button class="btn btn-default" data-ng-model="none"   data-ng-click="addDiagnosisToPrescription()" data-ng-if="diagnosisData.diseaseName">
							<span class="glyphicon  glyphicon"  data-ng-class="{'glyphicon-check': diagnosisData.addedToPrescription == true,'glyphicon-unchecked': !diagnosisData.addedToPrescription  || data.addedToPrescription == false}"></span>
						</button>
						<span > {{diagnosisData.diseaseName ? diagnosisData.diseaseName : 'Diagnosis'}}</span>
					</div>
				</div>
				<div ng-include="'javascript/templates/oldPrescription/drugInfo.html'"></div>
				<div ng-include="'javascript/templates/oldPrescription/advice.html'"></div>
			</div>
		</div>
	</div>

</div>