
	
	
	.appointment {background-color: #f5f5f5; !important; padding: 20px; height: 600px !important;}
	
	.appointment .panelHead {  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow:none;border:yellow; solid: 5px; }
	.appointment .panelHead-body { background-color:#CCFFFF;padding: 28px;border-radius:4px; }
	.appointment .panelVisited-body { background-color:#99CCFF;padding: 15px;border-radius:4px;cursor: pointer; }
	
	
	.appointment .panelChild {  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow:none;border:rgba(249, 195, 80, 0.5); solid: 2px;padding-top: 10px;}
	.appointment .panelChild-body { background-color:#f5f5f5;padding: 15px;border-radius:4px; }
	.appointment .panelChild-body:HOVER { background-color:#CCFFFF !important;border-width: 2px; cursor: pointer; padding: 16px; }
	
	.prescriptionPanel-body {
		background-color:rgba(95,195,220,.75);padding: 24px;border-radius:4px;
	}
	
	.followUp {background-color: rgba(95,195,220,.75); !important; padding: 20px; !important;}
	
	.followUp .panelHead {  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow:none;border:yellow; solid: 5px; }
	.followUp .panelHead-body { background-color:#CCFFFF;padding: 28px;border-radius:4px; }
	.followUp .panelVisited-body { background-color:#99CCFF;padding: 28px;border-radius:4px; }
	
	
	.followUp .panelChild {  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow:none;border:rgba(249, 195, 80, 0.5); solid: 2px;padding-top: 10px; }
	.followUp .panelChild-body { background-color:#FFFFFF;padding: 24px;border-radius:4px; }
	.followUp .date { background-color:gray;padding: 5px;border-radius:4px;text-align: center; }
	.followUp .result { background-color:silver;padding: 5px;border-radius:4px;text-align: center; }



	.headerText{
		font-size: 20px;
		font-weight:bold;
		background-color: #FFFF99;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
	}