/* kaitair */
/*------------ Basic Background colors -----------*/
body {
		background-color :#66CCFF;		
		background:#FFFCEF;
		background-size: cover; 
	}

.bgBody {
	background:#FFFCEF;
}
	
.bgBodyDark {
	background:#FAE9C3;
}
	
.bgBodyMedium{
	background:#fcf1d9;
}

/*---------------- Panel bg colors -----------------------*/
/* Panel Bg for non-Bootstrap panels */
.keyPanelColor{
	background-color: #FFFFFF!important;
}

.mainPanelColor{
	background-color: rgba(181, 246, 138, 0.21);
}

/* Panel Bg for Bootstrap panels */
.geninfo .panel, .ratings .rate-box, .season-room-name{
	background-color: #a8e0e0;
}

/* Panel Bg for Ratings (approval center) panels */
.ratings .rate-box{
	background-color: #FCF1D9;
}
.ratings .rating{
	background-color: rgba(90, 90, 90, 0.15);
}

/* ---------------Bookings---------------- */
/* booking table header bg */
#booking tr{
	background:#FFDFA5!important;
}
/* booking table alternate row bg */
#booking .table-striped>tbody>tr:nth-child(even)>td, #booking .table-striped>tbody>tr:nth-child(even)>th{
	background: #FFE7B6;
}

/*------------------ Rates ------------- */
.season-room-name{
	background-color: #FCF1D9;
}
.season{
	background-color: #efdfa1;
}
/* Rates week buttons */
.bgBlue, .bgBlue:hover { background-color: #ffffff; border-color: #357ebc;  } 
.bgYellow, .bgYellow:hover { background-color: #ffffff; border-color: #ccc;  }

/*----------------- Property Selector Heading ----------------------*/
.panelHeadingColor {
	/* background-color:#5BB5B6!important; border-color:#5BB5B6!important; */
}

/*-------------- Header ------------- */
.hLogout, .hLogout > i{
	color: #D75553;
}
.hPropertyName{
	color: #437BAF;
}
.help-link i{ 
	color: #5AB4CF; 
}
.navbar-ktr {}
#infoText{}

/*------------- Modal Colors ------------*/

/*------------------- table--------------- */
/* general table settings */
.header-fixed > tbody > tr:nth-child(2n+1) {background: #FFFCEF;}
.tableRow > tbody > tr:nth-child(2n+1){background:#FFFCEF;}
.tableRow .table-striped>tbody>tr:nth-child(odd)>td, .tableRow .table-striped>tbody>tr:nth-child(odd)>th {background:#FFFCEF;}

/* gtd cxl table settings */
#cancelBlock .table-striped>tbody>tr:nth-child(odd)>td, #cancelBlock.table-striped>tbody>tr:nth-child(odd)>th {background:#FCF1d9;}
#cancelBlock .table-striped>tbody>tr:nth-child(even)>td, #cancelBlock.table-striped>tbody>tr:nth-child(even)>th {background:#FFFCEF;}
#guranteeBlock .table-striped>tbody>tr:nth-child(odd)>td, #guranteeBlock.table-striped>tbody>tr:nth-child(odd)>th {background:#FCF1d9;}
#guranteeBlock .table-striped>tbody>tr:nth-child(even)>td, #guranteeBlock.table-striped>tbody>tr:nth-child(even)>th {background:#FFFCEF;}
