.propSelect button:first-child{text-align:left}
.propSelect .dropdown-menu{max-height:190px;overflow:auto;}
.selectorCont .form-group{width:350px;}
.propertySelector {
	margin-left: auto;
	margin-right: auto;
	width: 425px;
	margin-top: 6%;
}