
<nav class="navbar navbar-ktr navbar-fixed-top" role="navigation" >	
	<div class="nav-container">
		<a class="main-menu-link pull-left"  href="javascript:" data-ng-click="toggoleButton()" >
			<span class="pull-left icon-bar">
				<i></i>
				<i></i>
				<i></i>
			</span>
			<span class="icon-text pull-left" >{{userAccessInfo.fullName}}</span>
		</a>

		<span class="hPropertyName link-path pull-left hidden-sm"></span>
		
		
		<div class="pull-right rightBtns" >
			<span class="btn btn-link  hLogout" >Date {{dateString | date:'d-M-yy'}}</span>
			<button type="button" class="btn btn-link  hLogout" data-ng-click="logout()" ><i class="fa fa-user"></i> Logout</button>	
		</div>
	</div>
</nav>

<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
